
  <div class="jumbotron container">
    <img class="img-fluid bg-image" alt="traditional art in woodruff library"<%= image_tag "woodruff.jpg" %></img>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><%= image_tag "search_icon.svg"%></button>
    </form>
    <badge>Featured Story</badge>
    <h1>Emory's African American collections celebrated in new exhibit</h1>
  </div>

