<div class="jumbotron bg-image text-center container-fluid">
<img src="/app/assets/images/woodruff.jpg" class="img-fluid" alt="traditional art in woodruff library"></img>
<form class="d-flex">
<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success" type="submit">Search</button>
</form>
<h1>Emory's African American collections celebrated in new exhibit</h1>
</div>
</div>
