/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body,
html {
  font-family: "Cardo", serif;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cardo", serif;
}

.navbar-header {
  text-decoration: none;
}

.navbar {
  color: #004990;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.dropdown {
  color: #5387f7;
}

.c-brand {
  position: absolute;
  left: 8.68%;
  right: 78.19%;
  top: 40.66%;
  bottom: 19.78%;
  font-size: 24px;
  line-height: 36px;
  color: #091c44;
}

.vector {
  position: absolute;
  left: 2.13%;
  right: 92.4%;
  top: 35.73%;
  bottom: 7.32%;
}

@import "./home.scss";

@import "bootstrap";
